body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image:url(/img/banderas.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }

  h1 {
    text-align: center;
  }

  label {
    display: block;
    margin-top: 10px;
  }

  select, input, button {
    margin-top: 5px;
  }

  button {
    padding: 5px 10px;
    cursor: pointer;
  }

  #resultado {
    margin-top: 20px;
  }